<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1 class="jumbotron my-5 mx-5">Welcome to {{ angTitle }}! Albums Title # {{titleCounter }}</h1>
  <p>Featured Albums: {{ numbers }}</p>
</div>

<div class="container">
  <div class="card-deck">
    <div class="xs-card" *ngFor="let el of albumsList">
    <img src="/assets/img/{{el.id}}.jpg" style="width: 150px; height:150px;">
      <div class="card-body text-center">
        <h4 class="card-title">{{ el.artist }}</h4>
        <ul class="card-text">
          <li>{{ el.album_name }}</li>
          <li>{{ el.genre }}</li>
          <li>{{ el.price }} {{ el.currency }}</li>
        </ul>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
